body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 5%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 18px;
}
