body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 5%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    
}

button {
    border-radius: 25px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-size: large;
    border: none;
}

button,
.call-to-action {
    background-color: #3882F6;
}

a,
.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
    width: 650px;
    word-wrap: break-word;
}

.hero {
    background-color: #1F2937;
}

.logo,
.hero-main,
button {
    color: #F9FAF8;
}

.hero-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;

}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-image,
.hero-text {
   margin: auto;
}

.hero-image {
    border: 0.25rem;
    border-color: #E5E7EB;
    border-style: solid;
    margin-bottom: 2rem;
}


.header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0% 2.5%;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: auto;
}
