body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 5%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    
}

button,
img,
.call-to-action {
    border-radius: 25px;
}

button {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-size: large;
    border: none;
}

img {
    border: 0.25rem;
    border-color: #3882F6;
    border-style: solid;
}

button,
.call-to-action {
    background-color: #3882F6;
}

a,
.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
    width: 650px;
    word-wrap: break-word;
}

.hero {
    background-color: #1F2937;
}

.logo,
.hero-main,
button {
    color: #F9FAF8;
}

.hero-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;

}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-image,
.hero-text {
   margin: auto;
}

.hero-image {
    margin-bottom: 2rem;
}

.body,
.image-with-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0% 2.5%;
    margin-bottom: 1%;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: auto;
}

.body-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin: 2.5%;
}

.body-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.image-with-subtext {
    margin: 1%;
    font-size: large;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background-color: #E5E7EB;
    margin-bottom: 2%;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 1%;
}

.attribution {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    align-items: center;
}

.cta-text {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 5% 10%;
    color: #E5E7EB;
    text-align: center;
}

.cta-title {
    font-size: 36px;
    font-weight: bold;
    flex: auto;
    padding: 1%;
}

.cta-button {
    border: #F9FAF8;
    border-style: solid;
    margin-right: 5%;
}